<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
        <button ion-button icon-only color="royal">
          <img src="assets/imgs/logo_live_add.png" class="iconInButton" alt="">
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="backgroundPlatzinger">
  <ion-grid id="homeMeContainer">
    <ion-row>
      <ion-col col-3>
        <div class="avatarFrame avatarFrameOnline">
            <img *ngIf="model.user.photo" src="{{model.user.photo}}"  class="avatarImg img-fluid">
            <img *ngIf="!model.user.photo" src="assets/imgs/generic_avatar.png"  class="avatarImg img-fluid">
        </div>
      </ion-col>
      <ion-col ion-col-9>
        {{model.user.name}} {{model.user.lastName}} <br />
        <small>{{model.user.nick}}</small> <br />
        <small><b>{{model.user.email}}</b></small>
      </ion-col>

    </ion-row>
  </ion-grid>
  <div class="searchBoxContainer">
      <ion-input type="text" placeholder="Buscar Amigo" style="background-color:#ffffff;" [(ngModel)]="query"></ion-input>
  </div>

  <div *ngIf="friends">
      <div>
          <b>Amigos</b>
        </div>
        <!--[ngClass]="{'contactOffline':user.status == 'Offline' || user.status=='AppearOffline'}" [ngStyle]="{'color':user.status == 'Offline' || user.status=='AppearOffline'?'red':'blue'}"-->
        <div class="contactListItem" [ngClass]="{'contactOffline':user.status == 'Offline' || user.status=='AppearOffline'}" [ngStyle]="{'color':user.status == 'Offline' || user.status=='AppearOffline'?'red':'blue'}" *ngFor="let user of friends | search:query" (click)="goToConversation(user)">  
          <img src="assets/imgs/logo_live_online.png" *ngIf="user.status=='Online'" class="status" alt="">
          <img src="assets/imgs/logo_live_offline.png" *ngIf="user.status=='Offline'" class="status" alt="">
          <img src="assets/imgs/logo_live_busy.png" *ngIf="user.status=='Busy'" class="status" alt="">
          <img src="assets/imgs/logo_live_appear_offline.png" *ngIf="user.status=='AppearOffline'" class="status" alt="">
          <img src="assets/imgs/logo_live_away.png" *ngIf="user.status=='Away'" class="status" alt="">
          <b>{{user.name}}</b>
          <small *ngIf="user.status">{{user.status}}</small>
        </div>
  </div>






  <!-- <div padding>

  </div>
  <ion-list>
      <ion-list-header class="hydrated">
          Amigos
      </ion-list-header>

      <ng-container *ngFor="let user of friends | search:query; let i = index">
           <ion-item  (click)="goToConversation(user)" >

              <ion-label>
                <h2 class="platzinger-ion-item">
                    <ng-container *ngFor="let userStatus of status">
                        <ion-icon *ngIf = "user.statusId == userStatus.id" name="{{userStatus.icon}}" [ngStyle]="{'color':userStatus.color}"></ion-icon>
                    </ng-container>
                  {{user.nick}}
                </h2>
                <h3> {{user.email}}</h3>
              </ion-label>
            </ion-item>
            
      </ng-container>
     
    </ion-list> -->
 <!-- <button ion-button (click)="goToConversation()">Ir a las Conversaciones</button>
 <button ion-button (click)="goToLogin()">Ir al Inicio de Sesión</button> <br /> -->
 <!-- <b>Amigos</b>
 <ng-container *ngFor="let user of friends | search:query; let i = index">
   <div (click)="goToConversation(user)">
     <ng-container *ngFor="let userStatus of status">
        <ion-icon *ngIf = "user.statusId == userStatus.id" name="{{userStatus.icon}}" [ngStyle]="{'color':userStatus.color}"></ion-icon>
     </ng-container>
       -  {{user.nick}} - {{user.email}}
  </div>
</ng-container> -->

<!-- <b>No Agregados</b>
<ng-container *ngFor="let user of friends; let i = index">

    <p *ngIf="!user.friend" >
      {{i}} -  {{user.nick}} - {{user.email}}
  </ng-container> -->

</ion-content>
