// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bposy0{
    background-position-y:0px !important;
}

.avatarFrameOffline{
    background: #aebcbf; /* Old browsers */
background: -moz-linear-gradient(top, #aebcbf 0%, #6e7774 55%, #0a0e0a 90%, #0a0809 99%, #6e7774 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #aebcbf 0%,#6e7774 55%,#0a0e0a 90%,#0a0809 99%,#6e7774 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #aebcbf 0%,#6e7774 55%,#0a0e0a 90%,#0a0809 99%,#6e7774 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#6e7774',GradientType=0 ); /* IE6-9 */

padding:6%;
border-radius:5px;
border:1px solid rgba(255,255,255,0.36);
box-shadow:3px 3px 21px 1px rgba(0,0,0,0.75);
-webkit-box-shadow:3px 3px 21px 1px rgba(0,0,0,0.75);
-moz-box-shadow:3px 3px 21px 1px rgba(0,0,0,0.75);
}

.avatarFrameoffline {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eae5e5+45,c1bdbd+47,bab6b6+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #eae5e5 45%, #c1bdbd 47%, #bab6b6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#eae5e5 45%,#c1bdbd 47%,#bab6b6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#eae5e5 45%,#c1bdbd 47%,#bab6b6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bab6b6',GradientType=0 ); /* IE6-9 */
    text-align: center;
    padding: 6%;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.36);
    -webkit-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 21px 1px rgba(0,0,0,0.75);
  }

.backgroundPlatzinger{
    background-image: url('../assets/imgs/msnbg_tall.jpg');
    background-size:contain;
    background-position-y:35px;
    background-repeat:no-repeat;
    background-color:white;
}

.iconInButton{
    width:30px;
}

.avatarFrame{
    text-align: center;
}

.avatarImg{
    width: 128px !important;
    height:128px !important;
}

